services:
  web:
    build:
      context: .
      dockerfile: docker/web.Dockerfile
    restart: unless-stopped

  worker:
    build:
      context: .
      dockerfile: docker/worker.Dockerfile
    restart: "no"
