{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>{% block title %}watcher{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'watch:home' %}">Home</a>
        <a href="{% url 'watch:target-list' %}">Targets</a>
        <a href="{% url 'watch:observation-list' %}">Observations</a>
        <a href="{% url 'admin:index' %}">Admin</a>
    </nav>

    <main>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>
